@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
  font-family: 'berlinregular';
  background-image: url("./components/assets/background.jpg");
  background-size: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  line-height: 1.6;
  letter-spacing: 1px;
}

#dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

#dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown:hover #dropdown-content {
  display: block;
}


@font-face {
  font-family: 'berlinitalic';
  src: url('./components/fonts/berlin_-_italic-webfont.woff2') format('woff2'),
    url('./components/fonts/berlin_-_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'berlin_boldbold';
  src: url('./components/fonts/berlin_bold-webfont.woff2') format('woff2'),
    url('./components/fonts/berlin_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'berlin_xboldxbold';
  src: url('./components/fonts/berlin_x-bold-webfont.woff2') format('woff2'),
    url('./components/fonts/berlin_x-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'berlinregular';
  src: url('./components/fonts/berlin-webfont.woff2') format('woff2'),
    url('./components/fonts/berlin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.petal-1 {
  width: 250px;
  height: 250px;
  background-color: #FFF7C4;
  border-bottom-left-radius: 250px;
  border-top-right-radius: 250px;
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.petal-2 {
  width: 250px;
  height: 250px;
  background-color: #A69BD1;
  border-bottom-left-radius: 250px;
  border-top-right-radius: 250px;
}

.petal-3 {
  width: 250px;
  height: 250px;
  background-color: #FFA0C5;
  border-bottom-left-radius: 250px;
  border-top-right-radius: 250px;
}

.petal-4 {
  width: 250px;
  height: 250px;
  background-color: #B9EDB9;
  border-bottom-left-radius: 250px;
  border-top-right-radius: 250px;
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

@media (max-width: 450px) {
  .petal-1 {
    width: 125px;
    height: 125px;
    background-color: #FFF7C4;
    border-bottom-left-radius: 250px;
    border-top-right-radius: 250px;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }

  .petal-2 {
    width: 125px;
    height: 125px;
    background-color: #A69BD1;
    border-bottom-left-radius: 250px;
    border-top-right-radius: 250px;
  }

  .petal-3 {
    width: 125px;
    height: 125px;
    background-color: #FFA0C5;
    border-bottom-left-radius: 250px;
    border-top-right-radius: 250px;
  }

  .petal-4 {
    width: 125px;
    height: 125px;
    background-color: #B9EDB9;
    border-bottom-left-radius: 250px;
    border-top-right-radius: 250px;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
}